<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            background-color: blue;
            height: 200px;
            width: 200px;
        }
        [v-cloak]{
            display:none
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{ greeting }}
        <div class="box" v-if="isVisible"></div>
        <!--<button v-on:click="toggleBox">Toggle Box</button>-->
        <button @click="toggleBox">Toggle Box</button>
        <hr>
        <input type="text" v-model="greeting" @keyup.enter="greet">
    </div>
</body>
<!--VUE CDN-->
<script src="https://unpkg.com/vue@3"></script>
<script>
    let app = Vue.createApp({
        data: function() {
            return{
                greeting: 'Salut',
                isVisible: true,
            }
        },
        methods: {
            toggleBox(){
                this.isVisible = !this.isVisible
            },
            greet(){
                console.log(this.greeting)
            }
        }
    })
    app.mount('#app')
</script>
</html>