<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    input{
        display: block;
        margin: 5px;
    }
</style>
<body>
    <div id="app">
        <login-form/>
    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    let app = Vue.createApp({

    })
    app.component('login-form', {
        template:`
            <h1>{{ title }}</h1>
            <form @submit.prevent='handleSubmit'>
                <custom-input v-bind:label='labelUsername' :type="typeEmail" v-model='username'/>
                <custom-input v-bind:label='labelPassword' :type="typePassword" v-model='password'/>
                <custom-input :label='labelName' :type="typeText" v-model='name' />
                <button>Login</button>
            </form>
        `,
        data(){
            return{
                title: 'Login Page',
                labelUsername: 'Username',
                typeEmail: 'email',
                username: '',
                labelPassword: 'Password',
                typePassword: 'password',
                password: null,
                labelName: 'Name',
                typeText: 'text',
                name: ''
            }
        },
        methods: {
            handleSubmit(){
                console.log(this.username, this.password)
            }
        }
    })
    app.component('custom-input', {
        template:`
            <label>
                {{ label }}
                <input :type="type" v-model="inputValue">
            </label>
        `,
        props: ['label', 'type', 'modelValue'],
        computed: {
            inputValue:{
                get(){
                    return this.modelValue
                },
                set(value){
                    this.$emit('update:modelValue', value)
                }
            }
        }
    })
    app.mount('#app')
</script>
</html>